html,
body {
	margin: 0;
	padding: 0;
	background: url(https://raw.githubusercontent.com/bhauman/flappy-bird-demo/master/resources/public/imgs/background.png);
	background-repeat-x: repeat;
	height: 100%;
	width: 100%;
	background-size: contain;
}
